$bgcolorGreen: rgba(101, 236, 101, 0.904);

.nosotrosBody{background-color: $bgcolorGreen;}
.nosotrosDiv1{margin-top: 50px;
    padding: 10px;
    text-align: left;
background-color: black;}
.nosotrosDiv2{margin-top: 50px;
    padding: 10px;
    text-align: right;}
.nosotrosDiv3{margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: left;
background-color: black;}
.nosotrosTitulo{color: green;}
.nosotrosP{color: aliceblue;}